{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Webchat payment service
    </h1>

    <h2 class="govuk-heading-l">Agent prototype</h2>

    <p>Version 1.0 - <a href="agent/01/landing-page">View the prototype</a></p>

    <h2 class="govuk-heading-l">Taxpayer prototype</h2>

   <p> Version 1.0 - <a href="taxpayer/01/index">View the prototype</a></p>

  </div>
</div>

{% endblock %}
