{% extends "./layouts/question-page.html" %}
{% set back = "true" %}
{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="check-answers" method="post" novalidate>

  <h1 class="govuk-heading-l">Enter the Self Assessment details</h1>

  {{ govukInput({
    label: {
      text: "Unique Taxpayer Reference (UTR)"
    },
    hint: {
      text: "This is 10 numbers followed by a K, for example 1234567890K."
    },
    classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
    id: "sa-ref",
    name: "sa-ref",
    spellcheck: false
  }) }}

  {{ govukInput({
    id: "cost",
    name: "cost",
    label: {
      text: "Payment amount"
    },
    prefix: {
      text: "£"
    },
    classes: "govuk-input--width-5",
    spellcheck: false
  }) }}

{{ govukButton({
  text: "Continue"
}) }}

</form>

  </div>
</div>

{% endblock %}
